USERPROFILE=
HOME=
HOME_PATH=
SKIP_VERSION_CHECK=
E2E_SCAFFOLD_GENERATE=
ID_TOKEN=
E2E_SCAFFOLD_WORKSPACE_ID=
E2E_SCAFFOLD_SERVER_URL=
DEVELOPMENT=true
SERVER_URL='http://localhost:3000'
CLIENT_APP_URL='http://localhost:3001'
HOST='https://prestaging-api.8basedev.com/'
DEV_MODE=true